<!-- <div style="
display: inline-block;
position: relative;
width: 12em;
height: 12em">
  <i style="
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:6em solid transparent;
    border-radius:6em;
    border-left:6em solid #999;
    left:0em;
    top:0em">A</i>
  <i style="
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:6em solid transparent;
    border-radius:6em;
    margin-left:-6em;
    border-right:6em solid #f00;
    left:6em;
    top:0em">B</i>
  <i style="
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:6em solid transparent;
    border-radius:6em;
    border-top:6em solid #0f0;
    left:0em;
    top:0em">C</i>
  <i style="
    position: absolute;
    display:inline-block;
    width:0;
    height:0;
    line-height:0;
    border:6em solid transparent;
    border-radius:6em;
    margin-top:-6em;
    border-bottom:6em solid #00f;
    left:0em;
    top:6em">D</i>
</div> -->